<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link href="/css/table.css" rel="stylesheet"/>
</head>
    <body>
        <h1 class="h1" th:text="${title}">Информация о пользователе</h1>

        <div th:if="${client} != null">
            <table  class="table" id="client">
                <th:block th:each="client: ${client}">

                    <tr>
                        <th>Фамилия</th><td th:text="${client.surname}">Фамилия</td>
                    </tr>

                    <tr>
                        <th>Имя</th><td th:text="${client.name}">Имя</td>
                    </tr>

                    <tr>
                        <th>Отчество</th><td th:text="${client.patronymic}">Отчество</td>
                    </tr>

                    <tr>
                        <th>Филиал</th><td th:text="${client.branch.branchName}">Филиал</td>
                    </tr>

                    <tr>
                        <th>Номер лицевого счёта</th><td th:text="${client.account.accountRequisites.personalAccount}">Номер счёта</td>
                    </tr>

                    <tr>
                        <th>Сумма</th><td th:text="${client.account.sum}">Сумма</td>
                    </tr>

                    <tr>
                        <th>Роль</th><td th:text="${#authentication.getAuthorities()}">Роль</td>
                    </tr>
                </th:block>

                <!--<th:block th:each="client: ${client}">
                    <tr>
                        <td th:text="${client.surname}">Фамилия</td>
                    </tr>
                        <td th:text="${client.name}">Имя</td>
                    <tr>
                        <td th:text="${client.patronymic}">Отчество</td>
                    </tr>
                        <td th:text="${client.sum}">Сумма</td>
                    <tr>
                        <td th:text="${#authentication.getAuthorities()}">Роль</td>
                    </tr>
                </th:block> -->
            </table>
        </div>

        <!-- <input type="button" value="Вернуться" onclick="window.location.href = '/index'"}>
        <input type="button" value="Добавить рассылку" onclick="window.location.href = '/mail/registration'"}>
        <input type="button" value="Изменить название рассылки" onclick="window.location.href = '/mail/change'"}>
        <input type="button" value="Удалить рассылку" onclick="window.location.href = '/mail/delete'"}> -->
        <a th:href="@{/authorized}" target="_self">Вернуться на главную страницу</a>
    </body>
</html>