<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пополнение счёта</title>
    <link href="/css/form.css" rel="stylesheet"/>
</head>
<body>
    <h1 class="h1">Пополнение счёта</h1>

    <div th:each="client: ${client}">
        <a>Баланс счёта:</a><a th:text="${client.account.sum}"></a>
    </div>

    <form th:action="@{/authorized/client/addSum}" method="post" th:object="${clientAddSum}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div>
            <label>Сумма пополнения: </label>
            <label>
                <input type="text" th:field="*{account.sum}" required>
            </label>&nbsp;<span th:errors="*{account.sum}"></span>
        </div>

        <div class="form-group">
            <input type="submit" name="registration-submit" id="registration-submit1"
                   class="stdBtn" value="Пополнить">
        </div>
    </form>

    <p><a th:href="@{/authorized}" target="_self">Вернуться на главную страницу</a></p>
</body>
</html>