/* font-family: "FuroreRegular"; */
@font-face {
    font-family: "FuroreRegular";
    src: url("../fonts/FuroreRegular/FuroreRegular.eot");
    src: url("../fonts/FuroreRegular/FuroreRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FuroreRegular/FuroreRegular.woff") format("woff"),
    url("../fonts/FuroreRegular/FuroreRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {margin:0;padding:0;}
body {background-color:#ffffff;font-family:'FuroreRegular';}

#page {width:940px;margin:0 auto;}

header {height:5px;}
header .logo {float:left;}
header .logo img {margin:5px 0px 15px 0px;}

nav {clear:both;height:60px;background-color:#c49e6f;border-radius:8px 8px 0px 0px;}
nav ul {list-style:none;}
nav ul li {float:left;margin:17px 20px;font-size:20px;font-family:'FuroreRegular';}
nav ul li a {color:#000000;text-decoration:none;}
nav ul li a:hover {text-decoration:underline;}

#content {clear:both;}
#content h1 {font-size:48px;font-family:'FuroreRegular';font-style:italic;font-weight:normal;margin-bottom:20px;}
#content img.float-right {float:right;margin:0px 0px 15px 15px;}
#content p {margin-bottom:15px;}

footer {clear:both;border-top:4px #d50202 solid;margin-top:30px;padding:15px 0px;font-size:12px;}
footer a {color:#000;text-decoration:underline;}
footer a:hover {text-decoration:none;}