body {
    font: 14px "Trebuchet MS", "Lucida Sans";
}

.table {
    width: 40%;
    margin-bottom: 20px;
    border: 2px solid #dddddd;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
    width: 30%;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}

.h1 {
    font: 30px "Trebuchet MS", "Lucida Sans";
    color: #3E5B76;
    border-bottom: 2px solid #3E5B76;
}