<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/table.css" rel="stylesheet"/>
</head>
<body>
    <h1 class="h1" th:text="${title}">Личный кабинет администратора</h1>

    <div th:if="${admin} != null">
        <table  class="table" id="admin">
            <th:block th:each="admin: ${admin}">
                <tr>
                    <th>Имя</th><td th:text="${admin.name}">Имя</td>
                </tr>
                <tr>
                    <th>Роль</th><td th:text="${#authentication.getAuthorities()}">Роль</td>
                </tr>
            </th:block>
        </table>
    </div>

    <div>Операции:
        <a th:href="@{/authorized/admin/clientList}" target="_self">Просмотр всех пользователей</a>
        <a th:href="@{/authorized/admin/personList}" target="_self">Просмотр всех юридических лиц</a>
        <a th:href="@{/authorized/}" target="_self">Главная страница</a>
    </div>
</body>
</html>