<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/table.css" rel="stylesheet"/>
</head>
<body>
    <h1 class="h1">Юридические лица</h1>
    <div th:if="${personList} != null">
        <table class="table" id="table">
            <tr class="column-header">
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Сумма</th>
                <th>Роль</th>
                <th>Операция</th>
            </tr>
            <th:block th:each="personList: ${personList}">
                <tr>
                    <td th:text="${personList.surname}">ID</td>
                    <td th:text="${personList.name}">ID</td>
                    <td th:text="${personList.patronymic}">ID</td>
                    <td th:text="${personList.sum}">ID</td>
                    <td>[JURIDICAL_PERSON]</td>
                    <td><button onclick="window.location.href = '/authorized/admin/account';">Удалить</button></td>
                </tr>
            </th:block>
        </table>
    </div>
</body>
</html>