<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/authorization.css" type="text/css">
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>
<form>
    <div class="container">
        <label><b>Фамилия:</b></label>
        <input type="text" placeholder="Введите фамилию" name="psw" required>

        <label><b>Имя:</b></label>
        <input type="text" placeholder="Введите имя" name="psw" required>

        <label><b>Отчество:</b></label>
        <input type="text" placeholder="Введите отчество" name="psw" required>

        <label><b>Дата рождения:</b></label>
        <input type="date" name="psw" required>

        <p> </p>

        <label><b>Имя пользователя:</b></label>
        <input type="text" placeholder="Введите имя пользователя" name="uname" required>

        <label><b>Пароль:</b></label>
        <input type="password" placeholder="Введите пароль" name="psw" required>

        <label><b>Подтвердите пароль:</b></label>
        <input type="password" placeholder="Повторите пароль" name="psw" required>

        <button type="submit">Зарегистрироваться</button>
    </div>
</form>

</body>
</html>