<!DOCTYPE html>
<html>
    <head>
        <title>Nekogochan</title>
        <th:block th:replace="fragment/head.html :: head"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <div id="navDiv" th:insert="fragment/nav.html :: nav"></div>
            <div id="content">
                <th:block th:fragment="content">
                    <meta name="type" th:content="${type}">
                    <meta name="name" th:content="${name}">
                    <main>

                        <section class="form">

                            <h2 id="form-header"></h2>

                            <button class="fill" onclick="window.PageDeleteLocation()">Удалить</button>
                            <a class="ajaxLink" th:href="@{'/photo/' + ${type} + '/' + ${name}}"><button class="fill">Отмена</button></a>
                        </section>

                    </main>
                    <script type="module" src="/js/pageScripts/deleteLocation.js"></script>
                    <script>
                        window.CurrentPage = {};
                        window.PageOnLoadDeleteLocation();
                    </script>
                </th:block>
            </div>
            <div th:insert="fragment/loading.html :: loading" id="pageLoading" class="hide"></div>
        </div>
        <th:block th:insert="fragment/footer.html :: footer"></th:block>
        <th:block th:insert="fragment/scripts.html :: scripts"></th:block>
    </body>
</html>