<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Nekogochan</title>
        <th:block th:replace="fragment/head.html :: head"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <div id="navDiv" th:insert="fragment/nav.html :: nav"></div>
            <div id="content">
                <th:block th:fragment="content">
                    <header>
                        <h1>Спутниковые снимки</h1>
                        <p>Снимки стран, регионов, городов, достопримечательностей</p>
                    </header>

                    <main>

                        <!--Если не залогинен-->
                        <section class="center-content" sec:authorize="!isAuthenticated()">
                            <h2>Чтобы просматривать фотографии необходимо войти в систему:</h2>
                            <a class="ajaxLink" href="/registration"><button class="fill">Зарегистрироваться</button></a>
                            <a class="ajaxLink" href="/login"><button class="fill">Войти в систему</button></a>
                        </section>

                        <!--Если модератор-->
                        <section sec:authorize="hasRole('ROLE_MODERATOR')">
                            <a th:href="@{/moderator/image/add/country/*}" class="ajaxLink">
                                <button class="fill">Добавить страну</button>
                            </a>
                        </section>

                        <section id="countries" sec:authorize="isAuthenticated()">
                            <!--Здесь находится список стран-->
                        </section>

                        <script type="module" src="/js/pageScripts/index.js"></script>
                        <script>
                            window.CurrentPage = {};
                            window.PageOnLoadIndex();
                        </script>
                    </main>
                </th:block>
            </div>
            <div th:insert="fragment/loading.html :: loading" id="pageLoading" class="hide"></div>
        </div>
        <th:block th:insert="fragment/footer.html :: footer"></th:block>
        <th:block th:insert="fragment/scripts.html :: scripts"></th:block>
    </body>
</html>