<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Nekogochan</title>
        <th:block th:replace="fragment/head.html :: head"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <div id="navDiv" th:insert="fragment/nav.html :: nav"></div>
            <div id="content">
                <th:block th:fragment="content">
                    <main>
                        <section>
                            <h2>Панель управления администратора</h2>

                            <a class="ajaxLink" href="/"><button class="fill">Вернуться на главную</button></a>

                            <br><br>
                            <a class="ajaxLink" href="/administrator/backup"><button class="fill">Управление базой данных</button></a>

                            <br><br>
                            <a class="ajaxLink" href="/administrator/users"><button class="fill">Управление пользователями</button></a>
                            
                            
                        </section>
                    </main>
                    <script>
                        window.CurrentPage = {};
                    </script>
                </th:block>
            </div>
            <div th:insert="fragment/loading.html :: loading" id="pageLoading" class="hide"></div>
        </div>
        <th:block th:insert="fragment/footer.html :: footer"></th:block>
        <th:block th:insert="fragment/scripts.html :: scripts"></th:block>
    </body>
</html>