<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Nekogochan</title>
        <th:block th:replace="fragment/head.html :: head"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <div id="navDiv" th:insert="fragment/nav.html :: nav"></div>
            <div id="content">
                <th:block th:fragment="content">
                    <main>
                        <section>
                            <h2>Панель управления пользователями</h2>
                            <a class="ajaxLink" href="/administrator"><button class="fill">Назад</button></a>

                            <br><br>
                            <p>Найти пользователей по имени (логину):</p>
                            <input type="text" id="username">
                            <br>
                            <button class="fill" onclick="window.PageFindUsers()">Найти</button>

                            <div id="info"></div>

                            <div id="userList">
                                <!--Список пользователей-->
                            </div>

                        </section>
                    </main>
                    <script type="module" src="/js/pageScripts/adm/usersPanel.js"></script>
                    <script>
                        window.CurrentPage = {};
                    </script>
                </th:block>
            </div>
            <div th:insert="fragment/loading.html :: loading" id="pageLoading" class="hide"></div>
        </div>
        <th:block th:insert="fragment/footer.html :: footer"></th:block>
        <th:block th:insert="fragment/scripts.html :: scripts"></th:block>
    </body>
</html>