<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Главная страница</title>
    <link href="/index.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <h1 class="h1">Банковские операции</h1>
        <ul class="rounded">
            <li><a th:href="@{/}">Главная</a>
            <li><a th:href="@{/}">Платежи</a>
            <li><a th:href="@{/}">Переводы</a>
            <li><a th:href="@{/}">Переводы</a>
            <li><a th:href="@{/}">Регистрация</a>
            <li><a th:href="@{/}">Авторизация</a>
        </ul>
    </div>
</body>
</html>