<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация об юридическом лице</title>
    <link href="/css/table.css" rel="stylesheet"/>
</head>
<body>
    <h1 class="h1">Информация об юридическом лице</h1>

    <div th:if="${person} != null">
        <table  class="table" id="client">
            <th:block th:each="person: ${person}">

                <tr>
                    <th>Фамилия</th><td th:text="${person.surname}">Фамилия</td>
                </tr>

                <tr>
                    <th>Имя</th><td th:text="${person.name}">Имя</td>
                </tr>

                <tr>
                    <th>Отчество</th><td th:text="${person.patronymic}">Отчество</td>
                </tr>

                <tr>
                    <th>Имя организации</th><td th:text="${person.organizationName}">Отчество</td>
                </tr>

                <tr>
                    <th>Номер расчётного счёта</th><td th:text="${person.account.accountRequisites.paymentAccount}">Номер счёта</td>
                </tr>

                <tr>
                    <th>Сумма</th><td th:text="${person.account.sum}">Сумма</td>
                </tr>

                <tr>
                    <th>Роль</th><td th:text="${#authentication.getAuthorities()}">Роль</td>
                </tr>
            </th:block>
        </table>
    </div>
    <a th:href="@{/authorized}" target="_self">Вернуться на главную страницу</a>
</body>
</html>