<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/table.css" rel="stylesheet"/>
</head>
<body>
    <h1 class="h1">Пополнение счёта</h1>

    <div th:if="${person} != null">
      <table  class="table" id="client">
        <th:block th:each="person: ${person}">
          <tr>
            <th>Сумма</th><td th:text="${person.sum}">Имя</td>
          </tr>
        </th:block>
      </table>
    </div>

    <form th:action="@{/authorized/person/addSum}" method="post" th:object="${personAddSum}">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

      <div>
        <label>Новое значение суммы: </label>
        <label>
          <input type="text" th:field="*{sum}" required>
        </label>&nbsp;<span th:errors="*{sum}"></span>
      </div>

      <div class="form-group">
        <input type="submit" name="registration-submit" id="registration-submit1"
               class="stdBtn" value="Пополнить">
      </div>
    </form>
</body>
</html>