<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/table.css" rel="stylesheet"/>
  </head>
<body>
  <h1 class="h1">Пополнение счёта</h1>

  <p>Ваш счёт:</p>
  <div th:if="${personLeft} != null">
    <table  class="table" id="clientLeft">
      <th:block th:each="personLeft: ${personLeft}">
        <tr>
          <th>Сумма</th><td th:text="${personLeft.sum}">Имя</td>
        </tr>
      </th:block>
    </table>
  </div>

  <p>Информация о клиентах:</p>
  <div th:if="${personRight} != null">
    <table class="table" id="personRight">
      <th:block th:each="personRight: ${personRight}">
        <tr>
          <th>Фамилия</th><td th:text="${personRight.surname}">Фамилия</td>
        </tr>

        <tr>
          <th>Имя</th><td th:text="${personRight.name}">Имя</td>
        </tr>

        <tr>
          <th>Отчество</th><td th:text="${personRight.patronymic}">Отчество</td>
        </tr>

        <tr>
          <th>Имя клиента</th><td th:text="${personRight.juridicalPersonName}">Сумма</td>
        </tr>
      </th:block>
    </table>
  </div>

</body>
</html>