<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница (неавторизован) / Main page (non-authorized)</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="left_button">
        <p>
            <button type="button">Авторизация</button>
        </p>
        <p>
            <button type="button">Регистрация</button>
        </p>
    </div>

    <div class="right_table">
        <table>
            <tr>
                <th>Сложные игры</th>
                <th>Игроки</th>
                <th>Расписание турниров</th>
            </tr>

            <tr>

            </tr>
        </table>
    </div>
</body>
</html>