<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль / Profile</title>
    <link rel="stylesheet" href="css/WBYedition.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>
<body>
<div class="container" align="center">
    <table>
        <tr>
            <td><button type="button" onclick=signout()>Выход / Sign out</button></td>
            <td><button type="button" onclick=gotomain()>Главная страница / Main page</button></td>
            <td><button type="button" onclick=battlesearch()>Подбор сражения / Battle search</button></td>
        </tr>
        <tr>
            <td>
                <label for="physImp">Физическое воздействие / Physical Impact</label>
                <input type="number" id="physImp" placeholder="1 - 20" required minlength="1" maxlength="2"
                       min="1" max="20" onchange=setPhysImp()>
            </td>
            <td>

            </td>
            <td>
                <label for="mentImp">Ментальное воздействие / Mental Impact</label>
                <input type="number" id="mentImp" placeholder="1 - 20" required minlength="1" maxlength="2"
                       min="1" max="20" onchange=setMentImp()>
            </td>
        </tr>
        <tr>
            <td id="firstname"></td>
            <td id="secondname"></td>
            <td id="patronymic"></td>
        </tr>
        <tr>
            <td id="grade"></td>
            <td id="nickname"></td>
            <td id="birthdate"></td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript" src="js/profile.js"></script>
</html>