<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация / Registration</title>
    <link rel="stylesheet" href="css/WBYedition.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

</head>

<body>
<div class="container" align="center">
    <h1>Регистрация / Registration</h1>
    <hr>
    <p>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Введите Электроннный адресс" required minlength="5" maxlength="32">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Введите пароль" required minlength="5">
    </p>
    <p>
        <label for="password-repeat">Repeat password</label>
        <input type="password" placeholder="Повторите пароль" id="password-repeat" required minlength="5">
    </p>
    <p>
        <label for="first_name">First name</label>
        <input type="text" id="first_name" name="first_name" placeholder="Введите Ваше имя" required minlength="2" maxlength="15">
    </p>
    <p>
        <label for="second_name">Second name</label>
        <input type="text" id="second_name" name="second_name" placeholder="Введите Вашу фамилию" required minlength="3" maxlength="32">
    </p>
    <p>
        <label for="patronymic">Patronymic</label>
        <input type="text" id="patronymic" name="patronymic" placeholder="Введите Ваше отчество" required minlength="4" maxlength="32">
    </p>
    <p>
        <label for="nickname">Nickname</label>
        <input type="text" id="nickname" name="nickname" placeholder="Введите Ваш псевдоним" required minlength="4" maxlength="32">
    </p>
    <p>
        <label for="birthdate">Birthdate / Дата рождения: </label>
        <input type="Date" id="birthdate" name="birthdate" placeholder="Введите Электроннный адресс">
    </p>
    <button type="button" onclick=signup()>Зарегистрироваться</button>

    <p>Уже есть аккаунт? / Already have an account? <a href="http://localhost:8080/signin" target="_self">Войти / Sign in</a>.</p>
</div>
</body>
<script type="text/javascript" src="js/signup.js"></script>
</html>