<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Техническая поддержка / Techinal support</title>
    <link rel="stylesheet" href="/css/message.css">
</head>
<body>
    <div>
        <h1>Сообщение тех-поддержке</h1>
        <input type="text" id="chaos_message" name="chaos_message">
        <p>
            <button class="main" type="button">Главная страница</button>
            <button class="send" type="button">Отправить</button>
        </p>
    </div>
</body>
</html>