<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация пользователя</title>
    <link href="/css/form.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1 class="h1">Авторизация пользователя</h1>
        <form th:action="@{/signIn}" method="post" th:object="${signIn}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <p>
                <label for="login">Логин: </label>
                <input type="text" id="login" name="username">
            </p>
            <p>
                <label for="password">Пароль: </label>
                <input type="password" id="password" name="password">
            </p>
            <div class="form-group">
                <input type="submit" name="registration-submit" id="registration-submit"
                       class="stdBtn" value="Авторизоваться">
            </div>
            <p></p>
            <div th:if="${param.error}">
                <div class="alert alert-danger">Неверное имя пользователя или пароль!</div>
            </div>
        </form>
         <p>Ещё нет аккаунта?
            <a th:href="@{/client/signUp}" target="_self">Регистрация физического лица</a>
            <a th:href="@{/person/signUp}" target="_self">Регистрация юридического лица</a>
        </p>
        <a th:href="@{/}" target="_self">Вернуться на главную страницу</a>
    </div>

</body>
</html>