<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="css/form.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

</head>

<body>
<div class="container" align="center">
    <h1>Регистрация</h1>
    <hr>
    <p>
        <label for="email">Электронная почта: </label>
        <input type="text" id="email" name="email" required minlength="5" maxlength="32">
    </p>
    <p>
        <label for="password">Пароль: </label>
        <input type="password" id="password" required minlength="5">
    </p>
    <p>
        <label for="password-repeat">Повторите пароль: </label>
        <input type="password" id="password-repeat" required minlength="5">
    </p>
    <p>
        <label for="first_name">Фамилия: </label>
        <input type="text" id="first_name" name="first_name" required minlength="2" maxlength="15">
    </p>
    <p>
        <label for="second_name">Имя: </label>
        <input type="text" id="second_name" name="second_name" required minlength="3" maxlength="32">
    </p>
    <p>
        <label for="patronymic">Отчество: </label>
        <input type="text" id="patronymic" name="patronymic" required minlength="4" maxlength="32">
    </p>
    <p>
        <label for="nickname">Nickname: </label>
        <input type="text" id="nickname" name="nickname" required minlength="4" maxlength="32">
    </p>
    <p>
        <label for="birthdate">Дата рождения: </label>
        <input type="Date" id="birthdate" name="birthdate">
    </p>
    <button type="button" onclick=signup()>Зарегистрироваться</button>

    <p>Уже есть аккаунт? <a href="http://localhost:8080/signin" target="_self">Войти</a>.</p>
</div>
</body>
<script type="text/javascript" src="js/signup.js"></script>
</html>